<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ServiceLayer.ClientNodeService">
        <endpoint address="ServicesLayer" binding="basicHttpBinding" contract="ServiceLayer.IClientNodeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="ServiceLayer.AlgorithmService">
        <endpoint address="ServicesLayer" binding="basicHttpBinding" contract="ServiceLayer.IAlgorithmService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <connectionStrings>
    <add name="GraphEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALEXANDR-PC\SQLEXPRESS;initial catalog=Graph;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataNodeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/DataNodeService.svc/WcfServices"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataNodeService"
        contract="DataNodeServiceClient.IDataNodeService" name="BasicHttpBinding_IDataNodeService" />
    </client>
  </system.serviceModel>
</configuration>